:root {
    --color1: #f00;
}

body * {
    /* develpment style only */
    border: solid black 1px;
    background-color: rgba(255, 255, 255, 0.788);
    font-family:"Pixelify Sans", sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(255, 117, 117);
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-color: var(--color1);
    background-image: url(https://images.wikidexcdn.net/mwuploads/wikidex/0/02/latest/20231226202856/Pok%C3%A9_Ball_%28Ilustraci%C3%B3n%29.png);
    background-repeat: repeat;
    background-size: 80px 80px;
    background-origin: content-box;
    background-clip: content-box;
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
}

#container>div {
    margin: 10px auto;
    max-width: 60%;
}

#game-info {
    padding: 10px;
    max-width: 70%;
}

h1 {
    color: black;
    text-align: center;
}

#scene {
    width: 40%;
    height: fit-content;
}