body * {
    /* develpment style only */
    border: solid black 1px;
    background-color: rgb(255, 255, 255);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(255, 117, 117);
    font-family: 'Courier New', Courier, monospace;
}

a {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    background-color: #e6e6e6;
    border: 1.5px solid #a1a1a1;
    padding: 5px 10px;
    margin: 5px;

    &:active {
        transform: translateY(1px);
    }

    &:hover {
        background-color: #bfbfbf;
    }
}

label {
    border: none;
}

#container {
    background-image: url("https://i.pinimg.com/originals/27/5e/bb/275ebb40f026ff0fd7e79cc4e48f6a3f.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 80%;
    padding: 15px;
}

#container>div {
    margin: 10px auto;
    max-width: 60%;
    border-radius: 16px;
}

#game-info,
#top,
#sign-in,
#render {
    margin: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#title {
    border-radius: 8px;
}

body p {
    box-sizing: border-box;
    padding: 5px 15px;
    max-width: 702px;
    border-radius: 8px;
    margin: 15px auto;
    font-size: 17px;
}

h1,
h2 {
    border-radius: 8px;
    color: black;
    text-align: center;
}

.scene-container {
    margin: auto;
    /* Ajusta el ancho del contenedor */
    max-width: 700px;
    /* Ajusta la altura del contenedor */
    height: 400px;
    overflow: hidden;
    position: relative;
    border-bottom: none;
    outline: solid white 1px;
}

.scene-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    mask-image: linear-gradient(white 80%, transparent);
    border: none;
}

.btn-container {
    margin: auto;
    box-sizing: border-box;
    max-width: 702px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;

}

#buttons.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    /* Adjust the gap size as needed */
    width: 100%;
    /* Optional: Limit the maximum width of the grid container */
    margin: 0 auto;
    /* Center the grid container if max-width is set */
}


.btn-container button {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
    transition: all .2s;

}

.inputs-container {
    margin: auto;
    max-width: 700px;
    border-top: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.inputs-container>div {
    border: none
}

.winner_page {
    text-align: center;
}

.winner_page button,
input {
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
}

#winners_table {
    border-radius: 5px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0px;
    margin: auto;
    min-width: 70%;
    max-width: 85%;

    & * {
        border: none;
    }

    & thead th {
        border-bottom: 1px solid black;
    }

    & td:first-child,
    & th:first-child {
        border-right: .5px solid black;
    }


}