body * {
    /* develpment style only */
    border: solid black 1px;
    background-color: rgb(255, 255, 255);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(255, 117, 117);
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-image: url("https://i.pinimg.com/originals/27/5e/bb/275ebb40f026ff0fd7e79cc4e48f6a3f.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
}

#container>div {
    margin: 10px auto;
    max-width: 60%;
    border-radius: 16px;
}

#game-info,
#render {
    margin: 20px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#title {
    border-radius: 8px;
}

body p {
    padding: 5px 10px;
    border-radius: 8px;
}

h1,
h2 {
    color: black;
    text-align: center;
}

.scene-container {
    margin: auto;
    /* Ajusta el ancho del contenedor */
    max-width: 700px;
    /* Ajusta la altura del contenedor */
    height: 400px;
    overflow: hidden;
    position: relative;
    border-bottom: none;
    border-bottom: none;
}

.scene-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    mask-image: linear-gradient(white 80%, transparent);
    border: none;
}

.btn-container {
    margin: auto;
    box-sizing: border-box;
    max-width: 702px;
    border-top: none;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;

}

#buttons.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* Adjust the gap size as needed */
    width: 100%;
    /* Optional: Limit the maximum width of the grid container */
    margin: 0 auto;
    /* Center the grid container if max-width is set */
}


.btn-container button {
    cursor: pointer;
    background-color: #bbb;
    width: 47%;
    height: 40px;
    width: 100%;
    padding: 10px;
    /* Adjust the padding for button size */
    background-color: #f0f0f0;
    /* Background color for the buttons */
    border: 1px solid #ccc;
    /* Border for the buttons */
    border-radius: 5px;
    /* Rounded corners for the buttons */
    font-size: 16px;
    /* Font size for the button text */
    transition: all .2s;

}

body button:hover {
    background-color: #e0e0e0;
}

.inputs-container {
    margin: auto;
    max-width: 700px;
    border-top: none;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    border-radius: 0px 0px 8px 8px;
}

.inputs-container>div {
    border: none
}