
body * {
    /* develpment style only */
    border: solid black 1px;
    background-color: rgba(255, 255, 255, 0.788);
    font-family:"Pixelify Sans", sans-serif;
    font-weight: normal;
}

body {
    background-color: rgb(255, 117, 117);
    font-family: 'Courier New', Courier, monospace;
}

#container {
    background-image: url("https://i.pinimg.com/originals/27/5e/bb/275ebb40f026ff0fd7e79cc4e48f6a3f.gif");
    background-position: center 25%; 
    background-size: cover; 
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
}

#container>div {
    margin: 10px auto;
    max-width: 60%;
    border-radius: 16px;
}

#game-info {
    margin: 20px;
    padding: 15px;
    max-width: 70%;
}
#render {
    margin: 20px;
    padding: 15px;
}
h1 {
    color: black;
    text-align: center;
}
#scene{
    
}
#choices{
    display: flex;
    justify-content: space-around;
}
#scene {
    width: 40%;
    height: fit-content;
}